In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
meadery_df = pd.read_csv("data/untapped_meadery.csv")
micro_df = pd.read_csv("data/untapped_micros.csv")
micro_us_df = pd.read_csv("data/untapped_micros_us_brewery.csv")
nano_df = pd.read_csv("data/untapped_nano.csv")
regional_df = pd.read_csv("data/untapped_regional.csv")

In [3]:
#meadery_df.head()
meadery_df[['number_beers', 'number_ratings']] = meadery_df['number_beers'].str.split('Beers ',1, expand=True)
meadery_df.head()

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings,number_ratings
0,0,Pips Meadery,"Beach Park, IL United States",Meadery,174,(4.64),"56,552 Ratings"
1,1,Brewlihan,"Oakland Park, FL United States",Meadery,77,(4.54),"3,866 Ratings"
2,2,Zymarium,"Orlando, FL United States",Meadery,106,(4.527),"3,890 Ratings"
3,3,Schramm's Mead,"Ferndale, MI United States",Meadery,110,(4.52),"133,817 Ratings"
4,4,Marlobobo,"Sande, Vestfold Norway",Meadery,104,(4.516),"17,603 Ratings"

In [4]:
meadery_df_clean = meadery_df[['brewery_name', 'brewery_location', 'brewery_type', 'number_beers', 'number_ratings', 'brewery_ratings']]
meadery_df_clean.head()

,brewery_name,brewery_location,brewery_type,number_beers,number_ratings,brewery_ratings
0,Pips Meadery,"Beach Park, IL United States",Meadery,174,"56,552 Ratings",(4.64)
1,Brewlihan,"Oakland Park, FL United States",Meadery,77,"3,866 Ratings",(4.54)
2,Zymarium,"Orlando, FL United States",Meadery,106,"3,890 Ratings",(4.527)
3,Schramm's Mead,"Ferndale, MI United States",Meadery,110,"133,817 Ratings",(4.52)
4,Marlobobo,"Sande, Vestfold Norway",Meadery,104,"17,603 Ratings",(4.516)

In [5]:
meadery_df_clean['number_ratings'] = meadery_df_clean['number_ratings'].str.replace(r'[^0-9]', '')
meadery_df_clean['number_beers'] = meadery_df_clean['number_beers'].str.replace(r'[^0-9]', '')
meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].str.replace('(', '')
meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].str.replace(')', '')
#df["A"].str.replace("a","")
meadery_df_clean.head()

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  meadery_df_clean['number_ratings'] = meadery_df_clean['number_ratings'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meadery_df_clean['number_ratings'] = meadery_df_clean['number_ratings'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  meadery_df_clean['number_beers'] = meadery_df_clean['number_beers'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meadery_df_clean['number_beers'] = meadery_df_clean['number_beers'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].str.replace('(', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].str.replace('(', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].str.replace(')', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2596822059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].str.replace(')', '')

,brewery_name,brewery_location,brewery_type,number_beers,number_ratings,brewery_ratings
0,Pips Meadery,"Beach Park, IL United States",Meadery,174,56552,4.64
1,Brewlihan,"Oakland Park, FL United States",Meadery,77,3866,4.54
2,Zymarium,"Orlando, FL United States",Meadery,106,3890,4.527
3,Schramm's Mead,"Ferndale, MI United States",Meadery,110,133817,4.52
4,Marlobobo,"Sande, Vestfold Norway",Meadery,104,17603,4.516

In [6]:
meadery_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brewery_name      50 non-null     object
 1   brewery_location  50 non-null     object
 2   brewery_type      50 non-null     object
 3   number_beers      50 non-null     object
 4   number_ratings    50 non-null     object
 5   brewery_ratings   50 non-null     object
dtypes: object(6)
memory usage: 2.5+ KB

In [7]:
meadery_df_clean['number_beers'] = meadery_df_clean['number_beers'].astype(int)
meadery_df_clean['number_ratings'] = meadery_df_clean['number_ratings'].astype(int)
meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].astype(float)

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2158693446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meadery_df_clean['number_beers'] = meadery_df_clean['number_beers'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2158693446.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meadery_df_clean['number_ratings'] = meadery_df_clean['number_ratings'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2158693446.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meadery_df_clean['brewery_ratings'] = meadery_df_clean['brewery_ratings'].astype(float)

In [8]:
meadery_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brewery_name      50 non-null     object
 1   brewery_location  50 non-null     object
 2   brewery_type      50 non-null     object
 3   number_beers      50 non-null     int32
 4   number_ratings    50 non-null     int32
 5   brewery_ratings   50 non-null     float64
dtypes: float64(1), int32(2), object(3)
memory usage: 2.1+ KB

In [9]:
meadery_df_clean.to_csv('cleaned_csvs/untappd_meadery_clean.csv', index=False)

In [10]:
micro_df.head()

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings
0,0,Floodland Brewing,"Seattle, WA United States",Micro Brewery,"11 Beers 40,122 Ratings",(4.44)
1,1,Side Project Brewing,"Saint Louis, MO United States",Micro Brewery,"241 Beers 447,783 Ratings",(4.434)
2,2,Fidens Brewing Co,"Colonie, NY United States",Micro Brewery,"272 Beers 212,316 Ratings",(4.393)
3,3,Smooj,"Ann Arbor, MI United States",Micro Brewery,"36 Beers 43,119 Ratings",(4.39)
4,4,Weaver Hollow Brewery,"Andes, NY United States",Micro Brewery,"51 Beers 3,208 Ratings",(4.384)

In [11]:
micro_df[['number_beers', 'number_ratings']] = micro_df['number_beers'].str.split('Beers ',1, expand=True)
micro_df['number_ratings'] = micro_df['number_ratings'].str.replace(r'[^0-9]', '')
micro_df['number_beers'] = micro_df['number_beers'].str.replace(r'[^0-9]', '')
micro_df['brewery_ratings'] = micro_df['brewery_ratings'].str.replace('(', '')
micro_df['brewery_ratings'] = micro_df['brewery_ratings'].str.replace(')', '')
micro_df.head()

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3445099949.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  micro_df['number_ratings'] = micro_df['number_ratings'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3445099949.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  micro_df['number_beers'] = micro_df['number_beers'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3445099949.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  micro_df['brewery_ratings'] = micro_df['brewery_ratings'].str.replace('(', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3445099949.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  micro_df['brewery_ratings'] = micro_df['brewery_ratings'].str.replace(')', '')

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings,number_ratings
0,0,Floodland Brewing,"Seattle, WA United States",Micro Brewery,11,4.44,40122
1,1,Side Project Brewing,"Saint Louis, MO United States",Micro Brewery,241,4.434,447783
2,2,Fidens Brewing Co,"Colonie, NY United States",Micro Brewery,272,4.393,212316
3,3,Smooj,"Ann Arbor, MI United States",Micro Brewery,36,4.39,43119
4,4,Weaver Hollow Brewery,"Andes, NY United States",Micro Brewery,51,4.384,3208

In [12]:
micro_df_clean = micro_df[['brewery_name', 'brewery_location', 'brewery_type', 'number_beers', 'number_ratings', 'brewery_ratings']]

In [13]:
micro_df_clean['number_beers'] = micro_df_clean['number_beers'].astype(int)
micro_df_clean['number_ratings'] = micro_df_clean['number_ratings'].astype(int)
micro_df_clean['brewery_ratings'] = micro_df_clean['brewery_ratings'].astype(float)
micro_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brewery_name      50 non-null     object
 1   brewery_location  50 non-null     object
 2   brewery_type      50 non-null     object
 3   number_beers      50 non-null     int32
 4   number_ratings    50 non-null     int32
 5   brewery_ratings   50 non-null     float64
dtypes: float64(1), int32(2), object(3)
memory usage: 2.1+ KB

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3484934653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_df_clean['number_beers'] = micro_df_clean['number_beers'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3484934653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_df_clean['number_ratings'] = micro_df_clean['number_ratings'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3484934653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_df_clean['brewery_ratings'] = micro_df_clean['brewery_ratings'].astype(float)

In [14]:
micro_df_clean.head()

,brewery_name,brewery_location,brewery_type,number_beers,number_ratings,brewery_ratings
0,Floodland Brewing,"Seattle, WA United States",Micro Brewery,11,40122,4.440
1,Side Project Brewing,"Saint Louis, MO United States",Micro Brewery,241,447783,4.434
2,Fidens Brewing Co,"Colonie, NY United States",Micro Brewery,272,212316,4.393
3,Smooj,"Ann Arbor, MI United States",Micro Brewery,36,43119,4.390
4,Weaver Hollow Brewery,"Andes, NY United States",Micro Brewery,51,3208,4.384

In [15]:
micro_df_clean.to_csv('cleaned_csvs/untappd_micro_clean.csv', index=False)

In [16]:
micro_us_df.head()

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings
0,0,Floodland Brewing,"Seattle, WA United States",Micro Brewery,"11 Beers 40,023 Ratings",(4.44)
1,1,Side Project Brewing,"Saint Louis, MO United States",Micro Brewery,"239 Beers 447,254 Ratings",(4.434)
2,2,Fidens Brewing Co,"Colonie, NY United States",Micro Brewery,"272 Beers 211,516 Ratings",(4.393)
3,3,Smooj,"Ann Arbor, MI United States",Micro Brewery,"36 Beers 43,083 Ratings",(4.39)
4,4,Weaver Hollow Brewery,"Andes, NY United States",Micro Brewery,"51 Beers 3,206 Ratings",(4.385)

In [17]:
micro_us_df[['number_beers', 'number_ratings']] = micro_us_df['number_beers'].str.split('Beers ',1, expand=True)
micro_us_df['number_ratings'] = micro_us_df['number_ratings'].str.replace(r'[^0-9]', '')
micro_us_df['number_beers'] = micro_us_df['number_beers'].str.replace(r'[^0-9]', '')
micro_us_df['brewery_ratings'] = micro_us_df['brewery_ratings'].str.replace('(', '')
micro_us_df['brewery_ratings'] = micro_us_df['brewery_ratings'].str.replace(')', '')
micro_us_df.head()

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3767317263.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  micro_us_df['number_ratings'] = micro_us_df['number_ratings'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3767317263.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  micro_us_df['number_beers'] = micro_us_df['number_beers'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3767317263.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  micro_us_df['brewery_ratings'] = micro_us_df['brewery_ratings'].str.replace('(', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\3767317263.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  micro_us_df['brewery_ratings'] = micro_us_df['brewery_ratings'].str.replace(')', '')

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings,number_ratings
0,0,Floodland Brewing,"Seattle, WA United States",Micro Brewery,11,4.44,40023
1,1,Side Project Brewing,"Saint Louis, MO United States",Micro Brewery,239,4.434,447254
2,2,Fidens Brewing Co,"Colonie, NY United States",Micro Brewery,272,4.393,211516
3,3,Smooj,"Ann Arbor, MI United States",Micro Brewery,36,4.39,43083
4,4,Weaver Hollow Brewery,"Andes, NY United States",Micro Brewery,51,4.385,3206

In [18]:
micro_us_df_clean = micro_us_df[['brewery_name', 'brewery_location', 'brewery_type', 'number_beers', 'number_ratings', 'brewery_ratings']]
micro_us_df_clean['number_beers'] = micro_us_df_clean['number_beers'].astype(int)
micro_us_df_clean['number_ratings'] = micro_us_df_clean['number_ratings'].astype(int)
micro_us_df_clean['brewery_ratings'] = micro_us_df_clean['brewery_ratings'].astype(float)
micro_us_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brewery_name      50 non-null     object
 1   brewery_location  50 non-null     object
 2   brewery_type      50 non-null     object
 3   number_beers      50 non-null     int32
 4   number_ratings    50 non-null     int32
 5   brewery_ratings   50 non-null     float64
dtypes: float64(1), int32(2), object(3)
memory usage: 2.1+ KB

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2217079151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_us_df_clean['number_beers'] = micro_us_df_clean['number_beers'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2217079151.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_us_df_clean['number_ratings'] = micro_us_df_clean['number_ratings'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\2217079151.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_us_df_clean['brewery_ratings'] = micro_us_df_clean['brewery_ratings'].astype(float)

In [19]:
micro_us_df_clean.to_csv('cleaned_csvs/untappd_micro_us_clean.csv', index=False)

In [20]:
nano_df.head()

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings
0,0,Willow Park Brewing,"Bethlehem, PA United States",,"95 Beers 1,766 Ratings",(4.557)
1,1,nebuleus,"Portland, OR United States",,"50 Beers 2,477 Ratings",(4.483)
2,2,Emperor's Brewery,"Coalville, Leicestershire England",,"49 Beers 1,639 Ratings",(4.444)
3,3,Bokke,"Hasselt, Vlaanderen Belgium",,"132 Beers 50,064 Ratings",(4.431)
4,4,Prolyfk Brewing Project,"New Bern, NC United States",,"213 Beers 2,183 Ratings",(4.413)

In [21]:
nano_df[['number_beers', 'number_ratings']] = nano_df['number_beers'].str.split('Beers ',1, expand=True)
nano_df['number_ratings'] = nano_df['number_ratings'].str.replace(r'[^0-9]', '')
nano_df['number_beers'] = nano_df['number_beers'].str.replace(r'[^0-9]', '')
nano_df['brewery_ratings'] = nano_df['brewery_ratings'].str.replace('(', '')
nano_df['brewery_ratings'] = nano_df['brewery_ratings'].str.replace(')', '')
nano_df.head()

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\759426486.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  nano_df['number_ratings'] = nano_df['number_ratings'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\759426486.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  nano_df['number_beers'] = nano_df['number_beers'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\759426486.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  nano_df['brewery_ratings'] = nano_df['brewery_ratings'].str.replace('(', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\759426486.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  nano_df['brewery_ratings'] = nano_df['brewery_ratings'].str.replace(')', '')

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings,number_ratings
0,0,Willow Park Brewing,"Bethlehem, PA United States",,95,4.557,1766
1,1,nebuleus,"Portland, OR United States",,50,4.483,2477
2,2,Emperor's Brewery,"Coalville, Leicestershire England",,49,4.444,1639
3,3,Bokke,"Hasselt, Vlaanderen Belgium",,132,4.431,50064
4,4,Prolyfk Brewing Project,"New Bern, NC United States",,213,4.413,2183

In [22]:
nano_df_clean = nano_df[['brewery_name', 'brewery_location', 'brewery_type', 'number_beers', 'number_ratings', 'brewery_ratings']]
nano_df_clean['number_beers'] = nano_df_clean['number_beers'].astype(int)
nano_df_clean['number_ratings'] = nano_df_clean['number_ratings'].astype(int)
nano_df_clean['brewery_ratings'] = nano_df_clean['brewery_ratings'].astype(float)
nano_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brewery_name      50 non-null     object
 1   brewery_location  50 non-null     object
 2   brewery_type      50 non-null     object
 3   number_beers      50 non-null     int32
 4   number_ratings    50 non-null     int32
 5   brewery_ratings   50 non-null     float64
dtypes: float64(1), int32(2), object(3)
memory usage: 2.1+ KB

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\1410897249.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nano_df_clean['number_beers'] = nano_df_clean['number_beers'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\1410897249.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nano_df_clean['number_ratings'] = nano_df_clean['number_ratings'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\1410897249.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nano_df_clean['brewery_ratings'] = nano_df_clean['brewery_ratings'].astype(float)

In [23]:
nano_df_clean.to_csv('cleaned_csvs/untappd_nano_clean.csv', index=False)

In [24]:
regional_df.head()

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings
0,0,Tree House Brewing Company,"Charlton, MA United States",Regional Brewery,"842 Beers 4,172,821 Ratings",(4.336)
1,1,The Alchemist,"Stowe, VT United States",Regional Brewery,"112 Beers 728,071 Ratings",(4.332)
2,2,Trillium Brewing Company,"Canton, MA United States",Regional Brewery,"587 Beers 2,762,191 Ratings",(4.257)
3,3,Other Half Brewing Co.,"Brooklyn, NY United States",Regional Brewery,"1,600 Beers 3,941,845 Ratings",(4.227)
4,4,Equilibrium Brewery,"Middletown, NY United States",Regional Brewery,"598 Beers 1,455,948 Ratings",(4.202)

In [25]:
regional_df[['number_beers', 'number_ratings']] = regional_df['number_beers'].str.split('Beers ',1, expand=True)
regional_df['number_beers'] = regional_df['number_beers'].str.replace(r'[^0-9]', '')
regional_df['number_ratings'] = regional_df['number_ratings'].str.replace(r'[^0-9]', '')
regional_df['brewery_ratings'] = regional_df['brewery_ratings'].str.replace('(', '')
regional_df['brewery_ratings'] = regional_df['brewery_ratings'].str.replace(')', '')
regional_df.head()

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\1576651607.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  regional_df['number_beers'] = regional_df['number_beers'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\1576651607.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  regional_df['number_ratings'] = regional_df['number_ratings'].str.replace(r'[^0-9]', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\1576651607.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  regional_df['brewery_ratings'] = regional_df['brewery_ratings'].str.replace('(', '')
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\1576651607.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  regional_df['brewery_ratings'] = regional_df['brewery_ratings'].str.replace(')', '')

,Unnamed: 0,brewery_name,brewery_location,brewery_type,number_beers,brewery_ratings,number_ratings
0,0,Tree House Brewing Company,"Charlton, MA United States",Regional Brewery,842,4.336,4172821
1,1,The Alchemist,"Stowe, VT United States",Regional Brewery,112,4.332,728071
2,2,Trillium Brewing Company,"Canton, MA United States",Regional Brewery,587,4.257,2762191
3,3,Other Half Brewing Co.,"Brooklyn, NY United States",Regional Brewery,1600,4.227,3941845
4,4,Equilibrium Brewery,"Middletown, NY United States",Regional Brewery,598,4.202,1455948

In [26]:
regional_df_clean = regional_df[['brewery_name', 'brewery_location', 'brewery_type', 'number_beers', 'number_ratings', 'brewery_ratings']]
regional_df_clean['number_beers'] = regional_df_clean['number_beers'].astype(int)
regional_df_clean['number_ratings'] = regional_df_clean['number_ratings'].astype(int)
regional_df_clean['brewery_ratings'] = regional_df_clean['brewery_ratings'].astype(float)
regional_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brewery_name      50 non-null     object
 1   brewery_location  50 non-null     object
 2   brewery_type      50 non-null     object
 3   number_beers      50 non-null     int32
 4   number_ratings    50 non-null     int32
 5   brewery_ratings   50 non-null     float64
dtypes: float64(1), int32(2), object(3)
memory usage: 2.1+ KB

C:\Users\marti\AppData\Local\Temp\ipykernel_4584\956397077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regional_df_clean['number_beers'] = regional_df_clean['number_beers'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\956397077.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regional_df_clean['number_ratings'] = regional_df_clean['number_ratings'].astype(int)
C:\Users\marti\AppData\Local\Temp\ipykernel_4584\956397077.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regional_df_clean['brewery_ratings'] = regional_df_clean['brewery_ratings'].astype(float)

In [28]:
regional_df_clean.to_csv('cleaned_csvs/untappd_regional_clean.csv', index=False)